.bg{
    background-image: url(./460702.jpg);
    background-repeat: repeat;
    width: auto;
    height: 1000px;
}
.icon{
    width: 5%;
    height: 5%;
    padding-top: 30px;
    padding-left: 40px;
    display: block;
    
}
.home{
    margin-left: 900px;
    margin-top: -40px;
}
.menu{
    height: 5%;
    width: 5%;
    position: static;
    z-index: 1;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 100px;
    margin-left:-20px;
    margin-right: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-wrap: wrap;
    align-content:space-evenly ;

}
.box{
    border: 3px solid blue;
    height: 250px;
    width: 250px;
    background-color: brown;
    border-radius: 10px;
    
}
.sahara{
    font-size: 80px;
    color: white;
    
}
p{
    color: white;
}
.one{
    background-image: url(./th.jfif);
    
    height: 250px;
    width: 250px;
    background-color: brown;
    border-radius: 10px;
    position: relative;
}
.two{
    background-image: url(./th\ \(1\).jfif);
    
    height: 250px;
    width: 250px;
    background-color: brown;
    border-radius: 10px;
}
.three{
    background-image: url(./th\ \(2\).jfif);
    
    height: 250px;
    width: 250px;
    background-color: brown;
    border-radius: 10px;
}
.four{
    background-image: url(./th\ \(3\).jfif);
    
    height: 250px;
    width: 250px;
    background-color: brown;
    border-radius: 10px;
}
.ms{
    font-size: small;
}
.one:hover{
    
    transform: scale(1.1);

}
.two:hover{
    
    transform: scale(1.1);

}
.three:hover{
    
    transform: scale(1.1);

}
.four:hover{
    
    transform: scale(1.1);

}
@media  (max-width : 1000px){
    .bg{
        background-image: url(./460702.jpg);
        background-repeat:repeat-y;
        width: auto;
        height: 1300px;}
    .container{
        flex-direction: row;
        gap: 20px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .one{
        width:470px;
        height: 200px;
    }
    .two{
        width: 470px;
        height: 200px;

    }
    .three{
        width: 470px;
        height: 200px;

    }
    .four{
        width: 470px;
        height: 200px;

    }
    .home{
        margin-left: 200px;
    }
}
